@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-black: #000;
  --color-white: #FFF;
  --color-pink-1: #E3579E;
  --color-pink-2: #E98399;
  --color-pink-3: #F39F9D;
  --color-orange-1: #E67042;
  --color-orange-2: #E5885C;
  --color-orange-3: #E8857F;
  --font-roboto: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-roboto);
  color: var(--color-white);
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: linear-gradient(45deg, 
  var(--color-pink-1) 0%, 
  var(--color-pink-2) 25%, 
  var(--color-pink-3) 50%, 
  var(--color-orange-3) 75%, 
  var(--color-orange-1) 100%)
}

main {
  position: relative;
  height: 100vh;
}

h1 {
  margin: 0;
}

.logo {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 0;
  opacity: 0;
  transition: opacity 2s ease;
  user-select: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav {
  display: flex;
  gap: 1rem;
  font-weight: 300;
  padding: 25px;
  opacity: 0;
  transition: opacity 1s ease 2s;
}

a {
  text-decoration: none;
  color: var(--color-white);
  transition: color 0.3s ease;
  transition: opacity 2s ease;
}
a:hover {
  color: var(--color-black);
}