---
import Head from "../components/Head.astro";
---

<html lang="en">
	<Head />
	<body>
		<main>
			<header>
				<h1 class="logo">NHDigital</h1>
				<nav>
					<a href="https://www.linkedin.com/in/nazhussain1998/" target="_blank">Linkedin</a>
					<a href="https://www.behance.net/89fb4/" target="_blank">Behance</a>
				</nav>
			</header>
		</main>
	</body>
</html>
